@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    --mainColor :#5c557c;
    display: none;
}

.main-container {
    background-color:#99c3ff;
    background-blend-mode: hard-light;
    opacity: 0.3;
    height: 100vh;
}

.background {
    background-color:#99c3ff;
    background-blend-mode: hard-light;
    filter: opacity(0.3);
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}

/* GEOLOCALIZACION */
.geolocation {
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.466);
    width: 80%;
    height: 30%;
    top: 35vh;
    right: 5.5vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: #5c557c;
    background-image: url(../assets/background/background-loc.png);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 55%;
    box-shadow: #5c557c60 0px 25px 200px 0px;
}

.geolocation > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.geolocationParagraph {
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
}

.input-container {
    width: 10rem;
    border-bottom: 1px solid #5c557c6b;
}

.inputLocation {
    background: none;
    border: none;
    width: 10rem;
    height: 1.5rem;
    color: #5c557c;
}

.inputLocation::placeholder {
    color: #5c557c6b;
}

.inputLocation:focus {
    outline: none;
    background-color: none;
}

.cancelLocation {
    display: flex;
    text-align: center;
}

.geolocButtons {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-family: 'Lato', sans-serif;
}

.geolocBut {
    background-color: #5c557c;
    border: none;
    color: #dfdce7;
    width: 6rem;
    height: 2rem;
    border-radius: 10px;
}

.accept:disabled {
    background-color: #5c557cb0;
}

.back {
    display: none;
}

/* CURRENT WEATHER */
#index {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: var(--mainColor);
}

.currentWeather {
    padding: 1rem 3rem 0 3rem;
    width: 100%;
    height: 16rem;
    margin-bottom: 1rem;
}

.date {
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.date-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    align-self: center;
}

h2 {
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 1.5rem;
}

h3 {
    font-weight: 400;
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-end;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#temp {
    justify-content: center;
    display: flex;
    font-size: 5rem;
    padding-bottom: 0.3rem;
    font-weight: 700;
    align-self: flex-end;
}

.hourParagraph {
    justify-self: right;
}

/* SECTION NEXT HOURS */
.container-next-hours {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.466);
}

.nextHours {
    height: 72px;
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: center;
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

.nextHours li {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 3.5rem;
    height: 4.5rem;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1rem;
    gap: 0.1rem;
    backdrop-filter: blur(40px);
    box-shadow: 2px 0 4px -4px var(--mainColor), -2px 0 4px -4px var(--mainColor);
}

/* SECTION NEXT DAYS */
.last-section {
    border-radius: 30px 30px 0 0;
    background-color: rgba(255, 255, 255, 0.644);
    padding-bottom: 0.5rem;
}

h4 {
    padding: 1rem 0 1rem 2.3rem;
    font-weight: 600;
}

.nextDays {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0.2rem;
    align-items: center;
}

.nextDays li {
    height: 3.5rem;
    width: 90%;
    display: grid;
    grid-template-columns: 32% 28% 20% 20%;
    grid-template-rows: 1fr;
    padding-left: 1.5rem;
    font-size: 1rem;
    align-items: center;
}

.nextDays li:nth-child(2) {
    border-top: 1px solid var(--mainColor);
    border-bottom: 1px solid var(--mainColor);
}

.nextDays p:last-child {
    justify-self: right;
    padding-right: 1rem;
}

.nextDays li img {
    justify-self: center;
}

.nextDays li p:nth-child(3) {
    justify-self: right;
}


/* BUTTON */
img {
    width: 40px;
    height: 40px;
}

.hidden-button {
    overflow-y: hidden;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.644);
}

.container-button {
    background-color: var(--mainColor);
    width: 30%;
    height: 6rem;
    border-radius: 100%;
    position: relative;
    left: 35%;
    bottom: -10px;
    opacity: 0.8;
}

.button-moreInfo {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* MORE INFO */
div.moreInfo {
    background-color: var(--mainColor);
    border: 1px solid var(--mainColor);
    opacity: 0.8;
    color: #dfdce7;
    font-family: 'Lato', sans-serif;
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 56.3vh;
}

.moreInfo article {
    background-color: #ffffff21;
}

.moreInfo article h2 {
    font-size: 1rem;
    justify-content: left;
}

/* AMANECER | ANOCHECER */
.sunset-sunrise {
    display: grid;
    grid-template-columns: 30% 20% 30%;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    width: 90%;
    justify-content: center;  
    border-radius: 10px;
    gap: 1rem;
    padding: 0.5rem;
}

.sunset-sunrise > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: 1/1/2/4;
    border-radius: 10px;
}

.sunset-sunrise > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: 2/1/3/4;
    padding-right: 0.3rem;
}

.container-tempAndUv, .container-uvHum {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 0.6rem;
}

.container-tempAndUv article, .container-uvHum article {
    width: 48%;
    border-radius: 10px;
}

/* TEMPERATURA MAX Y MIN */
.temperatures {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 0;
}

.dayTemperatures {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
/* UV */
.uv {
    display: flex;
    padding-right: 0;
    align-items: center;
    justify-content: space-evenly;
}

.uv img, .humidity img, .temperatures img, .wind img, .sunset-sunrise img {
    width: 50px;
    height: 50px;
}

.uv p, .humidity p {
    font-size: 3rem;
    font-weight: 300;
}

.uv h2 {
    height: 53%;
    display: flex;
    align-items: flex-end;
}

/* HUMEDAD*/
.humidity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.humidity div {
    display: flex;
    width: 100%;
}

.humidity h2, .wind h2 {
    align-items: center;
}

/* VIENTO */
.container-titleWind {
    display: flex;
}

.container-windInfo {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

.wind > p {
    display: flex;
    font-size: 2rem;
    justify-content: center;
}

h5, .container-windInfo p {
    font-size: 0.7rem;
}

@media (min-height: 850px) {
    #index {
        height: 100%;
    }

    .container-currentInfo {
        margin-top: 3rem;
    }

    .currentWeather {
        margin-bottom: 3rem;
    }

    .nextHours {
        margin-bottom: 5rem;
    }

    .last-section {
        height: 39%;
    }

    h4 {
        padding: 3rem 0 1rem 2.3rem;
    }

    .nextDays {
        padding-top: 2rem;
    }

    .moreInfo {
        position: absolute;
        top: 44.4%;
        display: flex;
        justify-content: space-around;
    }

    .nextDays li img {
        margin-left: 1.3rem;
    }
}

@media (min-width: 485px) {
    div.geolocation {
        width: 388px;
        right: 22vw;
    }
}

@media (min-width: 750px) and (max-width: 1080px) {
    .container-currentInfo {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .nextHours {
        gap: 3rem;
    }

    .nextDays {
        margin-left: 7rem;
        margin-right: 7rem;
    }

    h4 {
        margin-left: 7.5rem;
    }

    .container-button {
        bottom: -5px;
        left: 40%;
        width: 20%;
    }
}

@media (min-width: 1081px) {
    .geolocation {
        right: 40vw;
    }

    .currentWeather {
        width: 50%;
        padding: 1rem 10rem 0 10rem;
    }

    .nextHours {
        width: 50%;
        gap: 3rem;
        margin-bottom: 3rem;
    }

    .last-section {
        width: 36.5%;
        border-radius: 10px;
        margin-left: 7rem;
    }

    .hidden-button {
        background-color: #95bfe800;
    }

    .container-button {
        display: none;
    }

    div.moreInfo {
        display: flex;
        width: 45%;
        right: 0;
        top: 0;
        height: 70%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 9rem;
        margin-right: 5rem;
        border-radius: 10px;
    }
}